
@import url(general.css);
@import url(estilosRegister.css);

.columv1{
   width:95%;
   margin-bottom: 10%;
}
.columv2{
    width: 80%;
    margin: auto;
    margin-bottom: 9%; 
      
}

.claselink{
width: 100%;
margin: 10px;
margin-top: 50px;
text-align: center;
font-size: 14px;

}

